- cache @question do
  .question.span8{data: {id: question.id}}
    %h3
      = question.title
      
      = link_to nil, href: edit_question_path(question), class: "edit-link" do
        %i.icon-pencil
        edit

    .question-body
      = markdown(question.body, auto_p_tags: true)

    .row
      = render partial: "/questions/tags", locals: {question: question}
      = render partial: "score_box", locals: {question: question}
      = render partial: "/users/user_box", locals: {question: question, user: question.user, show_delete: true}