#avatar.tab-pane
  .image-upload.small.well.user-avatar
    = semantic_form_for @user, url: admin_user_path(@user, company_id: @company.id) do |f|
      = f.semantic_errors
      = f.inputs do
        %h4 Avatar
        = image_tag @user.avatar.url, class: "thumbnail"
        = f.file_field :avatar
        = f.action :submit, label: "Start Upload", button_html: {class: "btn btn-info"}
        - if @user.avatar.present?
          = link_to "Remove Avatar", admin_user_user_delete_avatar_path(@user, company_id: @company.id),
          data: {method: :delete, confirm: "Are you sure you want to delete this avatar?"},
          class: "delete-link"        
        .clear