- url = default_opt(:url) { admin_company_tags_path(@company) }
- method = default_opt(:method) { :post }
- show_delete = default_opt(:show_delete) { false }


.row
  .span3
    = semantic_form_for @tag, url: url, method: method do |f|
      = f.inputs do
        = f.input :name
      
      = f.actions do
        = f.action :submit
        - if show_delete
          = delete_link "Delete", admin_tag_path(@tag), 
          confirm: "Are you sure you want to remove this tag?"