- @_current_layout = 'site_main'
- content_for :main do
  #main-bg-fill
  .row
    #main.span8
      = render partial: "/common/breadcrumbs"
      = yield :content

    #sidebar.span4
      .sidebar-content
        - if content_for?(:sidebar)
          = yield :sidebar
        - else
          = render partial: "/common/default_sidebar"

= render template: "/layouts/site"
